<header class="header">
  <nav class="navbar">
    <a class="navbar-brand" href="#"
      ><img
        src="/assets/images/logo-black-transparente.png"
        alt="logo FlashCards"
        width="140"
    /></a>

    <div class="dropdown-profile">
      <a href="#" class="" (click)="toggleListProfile()">
        <img
          src="https://github.com/mdo.png"
          alt="mdo"
          width="32"
          height="32"
          class="img-profile"
        />
      </a>
      <ul class="dropdown-list-profile">
        <li><a class="dropdown-item-profile" href="#">Novo Projeto</a></li>
        <li><a class="dropdown-item-profile" href="#">Configurações</a></li>
        <li><a class="dropdown-item-profile" href="#">Perfil</a></li>
        <li><hr /></li>
        <li><a class="dropdown-item-profile" href="#">Sair</a></li>
      </ul>
    </div>
  </nav>
</header>
