<div class="container">
  <input type="radio" name="slider" id="item-1" (change)="teste(1)" checked />
  <input type="radio" name="slider" id="item-2" (change)="teste(2)" />
  <input type="radio" name="slider" id="item-3" (change)="teste(3)" />

  <div class="cards">
    <label
      class="card"
      [for]="'item-' + i"
      [id]="'item-' + i"
      *ngFor="let i of [1, 2, 3]"
    >
      <div class="content">
        <app-card-default
          [cardData]="localFlashcards[i - 1]"
          [focus]="
            i === 1 ? focus1 : i === 2 ? focus2 : i === 3 ? focus3 : false
          "
        ></app-card-default>
      </div>
    </label>
  </div>
</div>
