.footer {
  position: fixed;
  bottom: 0;
  justify-content: flex-end;
  height: 40px;
}
.footer span {
  font-size: small;
  font-weight: 100;
}
.footer span.brand {
  font-weight: 800;
  letter-spacing: 0.1rem;
  background: -webkit-linear-gradient(
    142deg,
    rgba(7, 113, 238, 1) 0%,
    rgba(27, 218, 203, 1) 50%,
    rgb(4, 175, 55) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media (max-width: 599.98px){
  .footer span{
    font-size: .5rem;
  }
}
@media (min-width: 600px) and (max-width: 959.98px){
  .footer span{
    font-size: 1rem;
  }
}