.sidenav {
  background-color: #3f51b5;
  width: 160px;
}

.sidenav a span,
.sidenav a .item {
  color: #fff;
}
.sidenav a {
  height: 36px;
}
.sidenav a .item {
  padding-right: 10px;
  font-size: .9em;
  transition: 1.3s ease;
}
.sidenav a mat-icon.item {
  display: flex;
  align-items: center;
  font-size: 1.5em;
}
mat-nav-list.nav-list {
  padding: 0;
}
.sidenav {
  transition: .6s ease;
}
.sidenavSlim {
  width: 56px;
}
.itemSlim {
  display: none;
}
