<h1 mat-dialog-title>Criar Flashcard</h1>
<mat-divider></mat-divider>
<div mat-dialog-content>
  <p>
    <mat-form-field appearance="fill">
      <mat-label>Matéria/Tópico</mat-label>
      <input matInput placeholder="" type="text" />
      <mat-hint>Ex.: Matemática</mat-hint>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="fill">
      <mat-label>Título</mat-label>
      <input matInput placeholder="" type="text" />
      <mat-hint>Ex.: Formula de Bhaskara</mat-hint>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="fill">
      <mat-label>Dica</mat-label>
      <input matInput placeholder="" type="text" />
      <mat-hint>Ex.: Equação do 2º grau</mat-hint>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="fill">
      <mat-label>Texto/Descrição</mat-label>
      <textarea
        matInput
        placeholder="Ex. A fórmula de Bhaskara é um método resolutivo..."
      ></textarea>
    </mat-form-field>
  </p>
</div>
<mat-divider></mat-divider>
<div mat-dialog-actions>
  <span class="spacer"></span>
  <button mat-button (click)="handleClosed()" color="warn">Cancelar</button>
  <span class="spacer"></span>
  <button
    mat-button
    cdkFocusInitial
    (click)="message('criado com sucesso!')"
    color="primary"
  >
    Ok
  </button>
  <span class="spacer"></span>
</div>
