:host {
    margin-top: 35px;
  width: 100%;
  height: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
}

input[type="radio"] {
  display: none;
}

.card {
  position: absolute;
  width: 60%;
  height: 100%;
  left: 0;
  right: 0;
  margin: auto;
  transition: transform 0.4s ease;
  cursor: pointer;
}

.container {
  width: 100%;
  max-width: 800px;
  max-height: 350px;
  height: 100%;
  transform-style: preserve-3d;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.cards {
  position: relative;
  width: 100%;
  height: 100%;
}

.content {
  width: 100%;
  height: 100%;
  background-color: #a5a5a5;
}

#item-1:checked ~ .cards #item-3,
#item-2:checked ~ .cards #item-1,
#item-3:checked ~ .cards #item-2 {
  transform: translatex(-40%) scale(0.8);
  opacity: 0.4;
  z-index: 0;
}

#item-1:checked ~ .cards #item-2,
#item-2:checked ~ .cards #item-3,
#item-3:checked ~ .cards #item-1 {
  transform: translatex(40%) scale(0.8);
  opacity: 0.4;
  z-index: 0;
}

#item-1:checked ~ .cards #item-1,
#item-2:checked ~ .cards #item-2,
#item-3:checked ~ .cards #item-3 {
  transform: translatex(0) scale(1);
  opacity: 1;
  z-index: 1;
}
#item-1:checked ~ .cards #item-1 .content,
#item-2:checked ~ .cards #item-2 .content,
#item-3:checked ~ .cards #item-3 .content {
  box-shadow: 0px 0px 5px 0px rgba(81, 81, 81, 0.47);
}
#item-2:checked ~ .player #test {
  transform: translateY(0);
}

#item-2:checked ~ .player #test {
  transform: translateY(-40px);
}

#item-3:checked ~ .player #test {
  transform: translateY(-80px);
}
