<h1 mat-dialog-title>Editar Flashcard</h1>
<mat-divider></mat-divider>
<div mat-dialog-content>
  <mat-form-field appearance="fill">
    <mat-label>Matéria/Tópico</mat-label>
    <input matInput placeholder="" type="text" />
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Título</mat-label>
    <input matInput placeholder="" type="text" />
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Dica</mat-label>
    <input matInput placeholder="" type="text" />
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>URL da imagem</mat-label>
    <input matInput placeholder="" type="text" />
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Texto/Descrição</mat-label>
    <textarea matInput placeholder=""></textarea>
  </mat-form-field>
</div>
<mat-divider></mat-divider>
<div mat-dialog-actions>
  <span class="spacer"></span>
  <button mat-button (click)="handleClosed()" color="warn">Cancelar</button>
  <span class="spacer"></span>
  <button
    mat-button
    cdkFocusInitial
    (click)="message('Editado com sucesso!')"
    color="primary"
  >
    Ok
  </button>
  <span class="spacer"></span>
</div>
