.header a {
  display: flex;
  align-items: center;
  text-decoration: none;
}
.header .logo {
  height: 32px;
}
.header-avatar {
  background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
  background-size: cover;
  width: 32px;
  height: 32px;
}
