:root {
  --carousel_gradient: #9f9f9f24;
  --card_bg-front: #e0fbee;
  --card_bg-back: #e0fafb;
}
*{
  -webkit-tap-highlight-color: transparent;
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  overflow: hidden;
}
.spacer {
  flex: 1 1 auto;
}
.nav-list a span{
  display: flex;
}
/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #d1d1d1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ff4081;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #3f51b5;
}
