<div class="card" (click)="handleFlapCards()">
  <mat-card [class]="{ front: true, active: active }">
    <mat-card-header>
      <mat-card-subtitle>{{ cardData.topic }}</mat-card-subtitle>
      <mat-card-title>{{ cardData.title }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        {{ cardData.text }}
      </p>
    </mat-card-content>
  </mat-card>
  <mat-card [class]="{ back: true, active: !active }">
    <mat-card-header>
      <mat-card-subtitle>{{ cardData.topic }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <mat-card-title>{{ cardData.tip }}</mat-card-title>
    </mat-card-content>
  </mat-card>
</div>
