<mat-card class="card">
  <mat-card-header>
    <mat-card-subtitle>Categoria</mat-card-subtitle>
    <mat-card-title>Título</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>This card indeterminates progress bar.</p>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nihil sed
      assumenda reiciendis quo, quasi commodi, magnam cumque consequuntur
      similique minus odio, numquam nemo eos voluptas atque ut fuga quia vitae?
    </p>
  </mat-card-content>
</mat-card>
