:host {
  width: 100%;
  height: 100%;
}

.card {
  position: absolute;
  width: 100%;
  height: 100%;
  perspective: 1000px;
}
.front,
.back {
  padding: 15px;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  backface-visibility: hidden;
  transition-duration: 1s;
}
.front {
  transform: rotateY(-180deg);
}
.back {
  transform: rotateY(180deg);
}
.card .front.active {
  transform: rotateY(0deg);
}
.card .back.active {
  transform: rotateY(0deg);
}
